$core-primary-500: #ffcc00;
$core-secondary-100: #000000;

$alert-failure: #ff3b30;
$alert-success: #20aceb;
$alert-warning: #ffcc00;
$alert-primary-50: #fffae5;
$alert-primary-100: #fff5cc;
$alert-primary-200: #ffeb99;
$alert-primary-300: #ffe066;
$alert-primary-400: #ffd633;
$alert-primary-500: #ffcc00;
$alert-primary-550: #e6b800;
$alert-primary-600: #cca300;
$alert-primary-700: #997a00;
$alert-primary-800: #665200;
$alert-primary-900: #332900;
$alert-secondary-0: #ffffff;
$alert-secondary-20: #fafafa;
$alert-secondary-50: #f2f2f2;
$alert-secondary-100: #e6e6e6;
$alert-secondary-200: #cccccc;
$alert-secondary-300: #b3b3b3;
$alert-secondary-400: #999999;
$alert-secondary-500: #808080;
$alert-secondary-600: #666666;
$alert-secondary-700: #4d4d4d;
$alert-secondary-800: #333333;
$alert-secondary-900: #1a1a1a;
