@use '@styles/typography' as typo;
@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;

.wrapper {
  @include mixin.display-flex();
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .form {
    @include mixin.display-flex();
    flex-direction: column;
    gap: 4.8rem;
    width: 25.8rem;

    &__input-section {
      @include mixin.display-flex();
      flex-direction: column;
      gap: 3.2rem;

      &__title {
        // TODO: 타 브랜치 머지되면 수정
        @include typo.typo(2.4rem, 700, 3.6rem);
        color: color.$core-secondary-100;
      }

      &__inputs {
        @include mixin.display-flex();
        flex-direction: column;
        gap: 1.6rem;
      }
    }
  }
}
