@use '@styles/mixins' as mixin;
@use '@styles/typography' as typo;
@use '@styles/colors' as color;

.checkbox-field {
  @include mixin.display-flex();
  flex-direction: column;
  gap: 0.8rem;

  &__fieldset {
    @include mixin.flex(null, center, flex-start);
    position: relative;
    gap: 0.4rem;

    padding: 0.3rem;
    width: fit-content;

    &__input {
      position: absolute;
      left: 0.3rem;
      width: 2rem;
      height: 2rem;

      opacity: 0;
      cursor: pointer;
    }

    &__label {
      @include typo.typo(1.4rem, 400, 2.2rem, 0);
      color: color.$alert-secondary-900;
    }
  }

  &__helper-text {
    @extend %typo-body-small;
    @include mixin.flex(row, center, flex-start);

    min-height: 2.4rem;

    color: color.$alert-secondary-300;

    &--error {
      color: color.$alert-failure;
    }
  }
}
