@use '@styles/typography';

.section {
  padding: 1.6rem;
  width: 100%;
}

/* Basic editor styles */
.tiptap {
  @extend %typo-body-large;

  max-width: 568px;
  margin: auto;

  /* ProseMirror */
  :first-child {
    margin-top: 0;
    outline: none;

    // 읽기 모드 상태일때
    &[contenteditable='false'] {
      cursor: default;
    }
  }

  p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
  }

  blockquote {
    border-left: 3px solid lightgray;
    margin: 1.6rem 0;
    padding-left: 1.6rem;
  }
}
