@use '@styles/typography';

.section {
  padding: 1.6rem;
  width: 100%;
}

/* Basic editor styles */
.tiptap {
  @extend %typo-body-large;

  max-width: 568px;
  margin: auto;

  /* ProseMirror */
  :first-child {
    margin-top: 0;
    outline: none;
  }

  blockquote {
    border-left: 3px solid lightgray;
    margin: 1.6rem 0;
    padding-left: 1.6rem;
  }

  // TODO heading 등 정의 필요
}
