@use '@styles/typography';
@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;

.section {
  padding: 1.6rem;
  width: 100%;
}

/* Basic editor styles */
.tiptap {
  @extend %typo-body-large;

  max-width: 568px;
  margin: auto;

  /* ProseMirror */
  :first-child {
    margin-top: 0;
    outline: none;

    // 읽기 모드 상태일때
    &[contenteditable='false'] {
      cursor: default;
    }
  }

  p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.6rem;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;

    // MEMO(Sohyun): 고정된 헤더로인해 스크롤이 상단에 올라갔을 때 가려지는 문제가 있어서
    // 뷰포트(화면에 보이는 영역)의 상단에 도달했을 때 추가적인 여백을 지정
    scroll-margin-top: 124px;
  }

  blockquote {
    border-left: 3px solid lightgray;
    margin: 1.6rem 0;
    padding-left: 1.6rem;
  }
}

/* Ai-assistant interface 1 Option menu styles */
.container {
  position: fixed;
  z-index: 10;
}

.prompt-menu {
  width: 462px;
  height: 52px;

  padding: 0.8rem;
  padding-left: 1.6rem;

  @include mixin.flex(row, center, space-between);
  gap: 1.6rem;

  border-radius: 1.2rem;
  background: color.$alert-secondary-0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

  &__input {
    flex: 1;
    height: 100%;

    @extend %typo-body-medium;
    color: color.$core-secondary-100;

    border: none;
    outline: none;
  }
}

.select-menu {
  position: relative;
  width: 200px;
}

.divide-line {
  width: 100%;
  height: 1px;
  background-color: color.$alert-secondary-50;
}
