@use '@styles/typography';
@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;

.container {
  position: fixed;
  z-index: 10;
}

.prompt-menu {
  width: 462px;
  height: 52px;

  padding: 0.8rem;
  padding-left: 1.6rem;

  @include mixin.flex(row, center, space-between);
  gap: 1.6rem;

  border-radius: 1.2rem;
  background: color.$alert-secondary-0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

  &__input {
    flex: 1;
    height: 100%;

    @extend %typo-body-medium;
    color: color.$core-secondary-100;

    border: none;
    outline: none;
  }
}

.select-menu {
  position: relative;
  width: 200px;
}
