/* Bubble menu */
.bubble-menu {
  height: 44px;

  display: inline-flex;
  padding: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

  > div:not(.text-mark) {
    position: relative;

    > button {
      padding: 0.25rem;
      padding-left: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.25rem;

      border-radius: 0.5rem;
      background-color: unset;

      /* TODO 공용폰트로 교체 Label/Large */
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}

/* Select menu */
.select-menu {
  position: absolute;
  top: 36px;
  left: 0;

  width: 100%;
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;

  border-radius: 0.75rem;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

  button {
    width: 100%;
    padding: 0.25rem 0.5rem;
    text-align: start;
    border-radius: 10px;

    &:hover {
      background-color: #f2f2f2;
    }

    &.is-active {
      background-color: #f2f2f2;
    }
  }
}

.text-mark {
  display: flex;
  align-items: center;

  button {
    padding: 0.25rem 0.5rem;
    border-radius: 8px;

    &:hover {
      background-color: #f2f2f2;
    }

    &.is-active {
      color: #ffcc00;
    }
  }
}

.line {
  width: 1px;
  height: 20px;
  background: #f2f2f2;
}
