@use '@styles/typography';
@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;

.prompt-menu {
  width: 462px;
  min-height: 52px;

  padding: 0.8rem;
  padding-left: 1.6rem;

  @include mixin.flex(row, center, space-between);
  gap: 1.6rem;

  border-radius: 1.2rem;
  background: color.$alert-secondary-0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

  &__input {
    flex: 1;
    height: 17px;

    @extend %typo-body-medium;
    color: color.$core-secondary-100;

    border: none;
    outline: none;
    resize: none;
    cursor: default;
  }
}

.pending-button {
  @include mixin.flex();
  gap: 0.4rem;
  border-radius: 1rem;

  background-color: color.$alert-secondary-900;
  padding: 0.8rem 1.2rem;
  width: 76px;
  height: 100%;

  &:disabled {
    background-color: color.$alert-secondary-900;
    cursor: default;
  }
}
