@use '@styles/typography' as typo;
@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;

// TODO 전체적인 크기(넓이, 높이), 패딩값, 폰트 크기 수정 필요
.dashboard {
  &__content {
    padding: 2.4rem 8.8rem;

    @include mixin.flex(column, null, null);
    gap: 3.2rem;
  }

  &__title {
    @extend %typo-headline-small;
    font-weight: 700;
  }
}

.inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65dvh;
}
