@use 'sass:map';
@use '../../../styles/variables' as Styled;

$styled-font: map.get(Styled.$typo, Label, Large);

.default {
  font: $styled-font;
  color: map.get(Styled.$colors, Alert, Secondary200);
  border-radius: 10px;
  padding: 8px;

  &:disabled {
    cursor: default;
  }
}

.selected {
  font: $styled-font;
  background-color: map.get(Styled.$colors, Alert, Secondary900);
  color: map.get(Styled.$colors, Alert, Secondary0);
  border-radius: 8px;
  padding: 8px 12px;
}
