.button {
  flex: 1;
  position: relative;
  // TODO: 디자인 시스템 폰트, 색상 적용
  color: #878787;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  padding-bottom: 8px;

  &:hover {
    color: #15191e;
  }

  &.active {
    color: #15191e;
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #000;
    }
  }
}
