@use '@styles/mixins' as mixin;
@use '@styles/colors' as color;

.modal-overlay::backdrop {
  background-color: rgba(color.$alert-secondary-900, 0.7); // dialog 배경색 변경
}

.modal-overlay[open] {
  @include mixin.flex(column, center, center, null);
  margin: auto;
  border: none;
  border-radius: 2.4rem;

  position: fixed;
  inset: 0;

  z-index: 1100; // MEMO(Sohyun): chatbot z-inde가 1000임
  animation: slide-in-from-top 0.35s ease-out;
}

.modal-card {
  @include mixin.flex(column, flex-start, null, null);
  gap: 2.4rem;
  background: color.$alert-secondary-0;
  border-radius: 2.4rem;

  padding: 1.6rem;
  padding-top: 2.4rem;

  min-width: 350px;
  max-width: 400px;

  section {
    width: 100%;
  }

  &__title {
    @include mixin.flex(column, flex-start, null, null);
    gap: 0.8rem;

    h2 {
      @extend %typo-title-medium;
    }

    p {
      @extend %typo-body-medium;
      font-weight: 400;
      line-height: 20px;
      white-space: pre-wrap; // 텍스트에 포함된 개행 문자를 인식하여 줄바꿈을 적용
    }
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
