@use 'sass:map';
@use '@styles/variables' as Styled;

// Font
@mixin typography($category, $size) {
  font: map.get(Styled.$typo, $category, $size);
}

// Color
$Secondary0: map.get(Styled.$colors, Alert, Secondary0);
$Secondary50: map.get(Styled.$colors, Alert, Secondary50);

.select-menu {
  position: absolute;
  top: 36px;
  left: 0;

  width: 100%;
  padding: 1.2rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;

  border-radius: 1.2rem;
  background: $Secondary0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

  button {
    @include typography('Label', 'Large');

    width: 100%;
    padding: 0.4rem 0.8rem;
    text-align: start;
    border-radius: 1rem;

    display: flex;
    align-items: center;

    &:hover {
      background-color: $Secondary50;
    }

    &.is-active {
      background-color: $Secondary50;
    }
  }
}
