@use '@styles/typography';
@use '@styles/colors' as color;

.container {
  padding: 1.2rem;

  @extend %typo-label-large;

  border-radius: 1rem;
  background-color: color.$alert-secondary-20;
}

.button-wrapper {
  display: flex;
  gap: 1.2rem;
  align-self: flex-start;
}

.memo-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  overflow-y: auto;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}
