@use 'sass:map';
@use '@styles/variables' as Styled;

/* variable */
$styled-font: map.get(Styled.$typo, Label, Large);

/* mixin */
// display: flex에 관한 mixin
@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.text-button {
  @include display-flex();
  justify-content: center;
  align-items: center;
  font: map.get(Styled.$typo, Label, Large);
  color: map.get(Styled.$colors, Alert, Secondary900);
  gap: 0.4rem;

  &.square {
    &.primary {
      &.large {
        padding: 1.2rem;
      }

      &.medium {
        padding: 0.8rem 1.2rem;
        border-radius: 1rem;
      }

      &.small {
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;

        &.leading,
        &.only {
          padding: 0.4rem;
        }

        &.trailing {
          padding: 0.4rem 0.4rem 0.4rem 0.8rem;
        }
      }
    }
  }

  &:active {
    background-color: map.get(Styled.$colors, Alert, Secondary200) !important;
  }

  &:hover {
    background-color: map.get(Styled.$colors, Alert, Secondary50);
    border-radius: 0.8rem;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
