@use "@styles/mixins" as mixin;
@use "@styles/typography";
@use "@styles/colors" as color;

.text-field {
  @include mixin.flex(column, null, space-between);
  gap: 0.8rem;

  width: 36.8rem;

  &__fieldset {
    @include mixin.display-flex();
    position: relative;

    margin: 0;
    padding: 0;
    min-height: 4.8rem;

    background-color: transparent;
    border: 0;

    &__label {
      @extend %typo-label-large;

      position: absolute;
      top: 1.8rem;
      left: 0;

      background-color: transparent;
      color: color.$alert-secondary-500;

      transition: all 0.2s ease;
      pointer-events: none;

      &--active {
        @extend %typo-label-medium;

        top: 0;
      }

      &--reqired {
        position: inherit;
        display: inline-block;

        margin-left: 0.2rem;
        width: 0.4rem;
        height: 0.4rem;

        border-radius: 0.2rem;
        background-color: color.$alert-failure;
      }
    }

    &__input {
      @extend %typo-label-large;

      padding: 1.6rem 0 0.7rem 0;
      width: 100%;

      border: 0;
      border-bottom: solid 1px color.$alert-secondary-50;
      outline: 0;

      &:focus {
        border-color: color.$alert-secondary-900;
      }
    }
  }

  &__helper-text {
    @extend %typo-body-small;
    @include mixin.flex(row, center, flex-start);

    height: 2.4rem;

    color: color.$alert-secondary-300;
  }
}
