@use "@styles/mixins" as mixin;
@use "@styles/typography";
@use "@styles/colors" as color;

.text-field {
  @include mixin.flex(column, null, space-between);
  gap: 0.8rem;

  width: 36.8rem;

  &__fieldset {
    @include mixin.display-flex();
    position: relative;

    margin: 0;
    padding: 0;
    min-height: 4.8rem;

    background-color: transparent;
    border: 0;

    &__label {
      @extend %typo-label-large;

      position: absolute;
      top: 1.8rem;
      left: 0;

      background-color: transparent;
      color: color.$alert-secondary-500;

      transition: all 0.2s ease;
      pointer-events: none;

      &--active {
        @extend %typo-label-medium;

        top: 0;
      }

      &--reqired {
        position: inherit;
        display: inline-block;

        margin-left: 0.2rem;
        width: 0.4rem;
        height: 0.4rem;

        border-radius: 0.2rem;
        background-color: color.$alert-failure;
      }
    }

    &__input,
    &__text-area {
      @extend %typo-label-large;

      width: 100%;

      border: 0;
      border-bottom: solid 1px color.$alert-secondary-50;
      outline: 0;

      // NOTE(hajae): caret(커서)크기는 css 조절 불가.
      // 브라우저별로 다르나 line-height, font-size 등을 수정해야함

      &:focus,
      &[data-has-value="true"] {
        border-color: color.$alert-secondary-900;
      }
    }

    &__input {
      padding: 1.6rem 3rem 0.7rem 0;
    }

    &__text-area {
      margin: 1.6rem 0 0 0;
      padding: 0 3rem 0.7rem 0;

      line-height: 2.4rem;
      box-sizing: border-box;

      overflow: hidden;
      resize: none;
    }
  }

  &__helper-text {
    @extend %typo-body-small;
    @include mixin.flex(row, center, flex-start);

    min-height: 2.4rem;

    color: color.$alert-secondary-300;

    &--error {
      color: color.$alert-failure;
    }
  }
}
