@use 'sass:map';
@use '../../../../styles/variables' as Styled;

$styled-font: map.get(Styled.$typo, Title, Medium);
$secondary-900: map.get(Styled.$colors, Alert, Secondary900);

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.action-bar-container {
  @include display-flex();
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
}

.action-bar-buttons {
  @include display-flex();
  font: map.get(Styled.$typo, Label, Large);
  color: $secondary-900;
  align-items: center;
  gap: 16px;

  span {
    cursor: pointer;
  }
}

.action-bar-input {
  font: $styled-font;
  color: $secondary-900;
  border: 0px;
  outline-width: 0px;
  cursor: text;
}

.action-bar-span {
  font: $styled-font;
  color: $secondary-900;
  cursor: pointer;
}

.action-bar-tabs {
  @include display-flex();
  justify-content: center;
  align-items: center;
  background-color: map.get(Styled.$colors, Alert, Secondary50);
  list-style: none;
  border-radius: 10px;
  padding: 4px;
  gap: 8px;
}
