html {
  font-size: 62.5%; /* 1rem = 10px */
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  font-family: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;

  outline: none;

  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}

/* Swiper pagination custom styles */
.swiper-pagination {
  padding-bottom: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: background 0.2s;
}

.swiper-pagination-bullet-active {
  background-color: #1a1a1a !important;
  opacity: 1 !important;
}
