@use '@styles/typography';
@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;

// TODO 전체적인 크기(넓이, 높이), 패딩값, 폰트 크기 수정 필요

.wrapper {
  padding-top: 8rem;
  flex-grow: 1;
}

.dashboard {
  padding: 3.8rem 7.6rem;

  @include mixin.flex(column, null, null);
  gap: 3.2rem;

  &__title {
    @extend %typo-headline-small;
    font-weight: 700;
  }

  &__contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
  }

  &__item {
    height: 219.323px;
    padding: 22.351px;

    @include mixin.flex(column, flex-start, space-between);
    flex: 1 0 0;

    border-radius: 22.351px;
    background: color.$alert-secondary-20;
  }
}

.item__container {
  @include mixin.flex(column, flex-start, center);
  gap: 11.176px;

  h2 {
    @extend %typo-title-large;
    font-weight: 700;
  }

  p {
    @extend %typo-title-medium;
  }

  button {
    padding: 2.794px 5.588px;

    @include mixin.flex(row, center, center);
    gap: 13.97px;

    border-radius: 5.588px;
    background: color.$alert-secondary-100;
  }

  time {
    color: #878787;
    @extend %typo-title-small;
    font-weight: 400;
  }
}
