@use 'sass:map';
@use '@styles/variables' as Styled;

/* variable */
$styled-font-large: map.get(Styled.$typo, Label, Large);
$secondary-20: map-get(Styled.$colors, Alert, Secondary20);

.container {
  padding: 1.2rem;
  font: $styled-font-large;
  border-radius: 1rem;
  background-color: $secondary-20;
}

.memo-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  overflow-y: auto;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}
