@use '@styles/colors' as color;

@mixin tab-list {
  width: 100%;

  display: flex;
  align-items: center;
}

.medium {
  @include tab-list();

  padding-bottom: 0.8rem;
  gap: 1.2rem;
  border-bottom: 1px solid color.$alert-secondary-50;

  overflow-y: auto;
}

.large {
  @include tab-list();

  gap: 0.8rem;
}
