@use '@styles/mixins' as mixin;
@use '@styles/typography';
@use '@styles/colors' as color;

.title {
  @include mixin.flex(row, center, space-between);

  @extend %typo-label-medium;
  font-weight: 700;
  color: color.$alert-secondary-900;

  div {
    display: flex;
    gap: 0.4rem;

    button {
      width: 2rem;
      height: 2rem;

      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
}

.content {
  @extend %typo-body-medium;
  font-weight: 400;
  color: color.$alert-secondary-900;
}
