@use 'sass:map';
@use '@styles/variables' as Styled;

/* variable */
$styled-font-large: map.get(Styled.$typo, Label, Large);

$secondary-0: map-get(Styled.$colors, Alert, Secondary0);
$secondary-20: map-get(Styled.$colors, Alert, Secondary20);
$secondary-200: map-get(Styled.$colors, Alert, Secondary200);
$secondary-600: map-get(Styled.$colors, Alert, Secondary600);
$secondary-900: map-get(Styled.$colors, Alert, Secondary900);

.container {
  padding: 1.2rem;
  font: $styled-font-large;
  border-radius: 1rem;
  background-color: $secondary-20;
}

.title {
  font: $styled-font-large;
}

.planner-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  overflow-y: auto;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  li {
    border-bottom: 1px solid #f1f1f0;
    padding: 0.8rem 0 2rem 0;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0.8rem;
    }
  }
}

.planner-button {
  width: 100%;
  padding: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font: $styled-font-large;
  color: $secondary-0;

  background-color: $secondary-600;
  border-radius: 1rem;

  &:hover {
    background-color: $secondary-200 !important;
  }

  &:disabled {
    background-color: $secondary-900 !important;
    opacity: 60%;
    cursor: not-allowed;
  }
}
