@use '@styles/mixins' as mixin;
@use '@styles/typography';
@use '@styles/colors' as color;

.container {
  @extend %typo-label-large;

  padding: 1.2rem;
  border-radius: 1rem;
  background-color: color.$alert-secondary-20;
}

.planner-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  overflow-y: auto;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  li {
    border-bottom: 1px solid #f1f1f0;
    padding: 0.8rem 0 2rem 0;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0.8rem;
    }
  }
}

.planner-button {
  width: 100%;
  padding: 1.2rem;

  @include mixin.flex(row, center, space-between);

  @extend %typo-label-large;
  color: color.$alert-secondary-0;

  background-color: color.$alert-secondary-600;
  border-radius: 1rem;

  &:hover {
    background-color: color.$alert-secondary-200 !important;
  }

  &:disabled {
    background-color: color.$alert-secondary-900 !important;
    opacity: 60%;
    cursor: not-allowed;
  }
}
