@use '@styles/mixins' as mixin;
@use '@styles/colors' as color;
@use '@styles/typography' as typo;

.container {
  min-height: 100vh;
}

/* main */
.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 12.4rem;
  height: 100dvh;
}
