@use '@styles/mixins' as mixin;
@use '@styles/colors' as color;
@use '@styles/typography' as typo;

.container {
  min-height: 100vh;
}

/* main */
.main-section {
  position: relative;

  padding-top: 12.4rem;
  height: 100dvh;
}
