@use '@styles/typography';
@use '@styles/colors' as color;

/* Bubble menu */
.bubble-menu {
  height: 44px;

  display: inline-flex;
  padding: 0.8rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;

  border-radius: 1rem;
  background: color.$alert-secondary-0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

  > div:not(.text-mark) {
    position: relative;

    > button {
      @extend %typo-label-large;

      padding: 0.4rem;
      padding-left: 0.8rem;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.8rem;

      border-radius: 0.8rem;
      background-color: unset;

      &:hover {
        background-color: color.$alert-secondary-50;
      }
    }
  }
}

.text-mark {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    @extend %typo-label-large;

    height: 28px;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;

    &:hover {
      background-color: color.$alert-secondary-50;
    }

    &.is-active {
      color: color.$alert-primary-500;
    }
  }
}

.line {
  width: 1px;
  height: 20px;
  background: color.$alert-secondary-50;
}

.bold {
  font-weight: 700 !important;
}

.italic {
  font-weight: 700 !important;
  font-style: italic !important;
}

.underline {
  text-decoration-line: underline;
  font-weight: 700 !important;
}

.select-option {
  padding: 0.4rem !important;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
