@use 'sass:map';
@use '@styles/variables' as Styled;

/* variable */
$styled-font-large: map.get(Styled.$typo, Label, Large);
$styled-font-medium: map.get(Styled.$typo, Label, Medium);

$secondary-100: map-get(Styled.$colors, Alert, Secondary100);
$secondary-400: map-get(Styled.$colors, Alert, Secondary400);
$secondary-900: map-get(Styled.$colors, Alert, Secondary900);

.large {
  flex: 1;
  padding-bottom: 0.8rem;
  position: relative;

  font: $styled-font-large;
  color: $secondary-400;
  font-weight: 600;

  &.active {
    color: #15191e; // TODO 컬러파레트로 변경

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $secondary-900;
    }
  }
}

.medium {
  display: flex;
  padding: 0.4rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.4rem;

  font: $styled-font-medium;
  color: #15191e; // TODO 컬러파레트로 변경
  font-weight: 600;

  &.active {
    background-color: $secondary-100;
  }
}
