.row {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}
