.planner-list {
  width: 212px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
  li {
    border-bottom: 1px solid #f1f1f0;
    padding: 8px 0 20px 0;
    &:last-child {
      border-bottom: none;
      padding-bottom: 8px;
    }
  }
}
