@use '@styles/typography';
@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;

.wrapper {
  @include mixin.display-flex();
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .form {
    @include mixin.display-flex();
    flex-direction: column;
    gap: 7.2rem;
    width: 25.8rem;

    &__input-section {
      @include mixin.display-flex();
      flex-direction: column;
      gap: 3.1rem;

      &--title {
        @extend %typo-headline-small;
        color: color.$core-secondary-100;
      }

      &--inputs {
        @include mixin.display-flex();
        flex-direction: column;
        gap: 1.6rem;
      }
    }

    &__action-section {
      @include mixin.display-flex();
      flex-direction: column;
      gap: 4rem;

      &--checkboxes {
        @include mixin.display-flex();
        flex-direction: column;
        gap: 0.8rem;

        > div:first-child {
          padding-bottom: 0.8rem;
          border-bottom: 1px solid color.$alert-secondary-50;
        }
      }

      &--buttons {
        @include mixin.display-flex();
        flex-direction: column;
        gap: 1.6rem;
      }

      &--login-btn {
        margin: 0 auto;
      }
    }
  }
}
